* {
  box-sizing: border-box;
}

body {
  padding: 1.5rem;
  background-color: #f5f5f5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  margin-top: 0;
  font-style: 1.5rem;
  font-weight: 300;
}

.width-10px {
  width: 10px;
  max-width: 10px;
  min-width: 10px;
}

.width-20px {
  width: 20px;
  max-width: 20px;
  min-width: 20px;
}

.width-30px {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
}

.width-40px {
  width: 40px;
  max-width: 40px;
  min-width: 40px;
}

.height-small {
  height: 0.875rem;
  max-height: 0.875rem;
  min-height: 0.875rem;
}

.height-medium {
  height: 1rem;
  max-height: 1rem;
  min-height: 1rem;
}

.height-large {
  height: 1.5rem;
  max-height: 1.5rem;
  min-height: 1.5rem;
}

.height-xl {
  height: 1.8rem;
  max-height: 1.8rem;
  min-height: 1.8rem;
}

.Button {
  display: inline-block;
  text-align: center;
  font-size: 1.375em;
  font-weight: bold;
  border-radius: 1.6818em;
  background-color: #44aa90;
  color: #ffa;
  padding: 0.7727em 1.5909em;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}
.Button-small {
  font-size: 0.875rem;
}
.Button-medium {
  font-size: 1rem;
}
.Button-large {
  font-size: 1.5rem;
}
.Button-xl {
  font-size: 1.8rem;
}
@media (max-width: 370px) {
  .Button {
    padding: 0.6em 1em;
    border-radius: 1.2em;
  }
}
.Button:hover {
  background-color: #287a65;
}
.Button-disabled {
  background-color: #999;
}
.Button-disabled:hover {
  background-color: #999;
}

.Chip {
  padding: 0.2rem 0.8rem;
  background-color: #6344aa;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 2rem;
}
.Chip-list {
  margin: 0 0 1.5rem;
  padding: 0;
}
.Chip-list li {
  display: inline-block;
  margin: 0 0.5rem 0.5rem;
}
