.Button {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    border-radius: 1em;
    background-color: $primary-color;
    color: #fff;
    padding: 0.6em 1em;
    
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
  
    @media(min-width: 370px) {
      padding: 0.7727em 1.5909em;
      border-radius: 2rem;
    }

    &:hover {
        background-color: $primary-dark-color;
    }

    &-disabled {
        background-color: #999;
        &:hover {
            background-color: #999;
        }
    }
}