.Chip {
  padding: 0.2rem 0.8rem;
  background-color: $secondary-color;
  color: #ff8;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
  border-radius: 2rem;

  &-list {
    margin: 0 0 1rem;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 0.5rem 0.5rem;
    }
  }
}