$widths: ( 10px, 20px, 30px, 40px );

@each $width in $widths {
    .width-#{$width} {
        width: $width;
        max-width: $width;
        min-width: $width;
    }
}

$heights: ( 
    "small": 0.875rem, 
    "medium": 1rem, 
    "large": 1.5rem,
    "xl": 1.8rem
);

@each $name, $height in $heights {
    .height-#{$name} {
        height: $height;
        max-height: $height;
        min-height: $height;
    }
}
